
.no-nbar {
    display: none;
}

.sticky {
    position: fixed;
} 

.images {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 25%;
    filter: brightness(0%) saturate(100%) blur(0%);
}

.logo {               
    height: 350px;
    width: 350px;
    position: absolute;
    filter: brightness(100%)
}

.nav-logo {               
    height: 70px;
    width: auto;
    filter: brightness(100%);
}

.imageCenterText {
    position: absolute;
    text-align: center;
    font-size: 9vw;
    color: white;
    font-style: italic;
}

.infoText {
    text-align: center;
    font-size: 8vw;
    color: black;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.pageContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 100vw;
    flex-direction: column;
}

body{
    margin:0;
}

#map-container {
    height: 400px;
  }
  
.leaflet-container {
    height: inherit;
  }

.boxes-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    margin: 0 10px; /* Adjust margin as needed */
    display: flex;
    flex-direction: column; /* Display content vertically */
}

.box h2
.box h3,
.box p {
    margin-bottom: 10px; /* Add margin between elements */
}
